nav {
    background-color: #7ab634;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav img {
    height: 5em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.nav-toggle span {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    position: relative;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #8BC34A;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle span:first-child {
        transform: translateY(-5px);
    }

    .nav-toggle span:last-child {
        transform: translateY(5px);
    }

    .nav-toggle.open span:first-child {
        transform: translateY(0) rotate(45deg);
    }

    .nav-toggle.open span:last-child {
        transform: translateY(0) rotate(-45deg);
    }

    .nav-toggle.open span:nth-child(2) {
        opacity: 0;
    }
}
